# Logs
*.log

# Compiled Java files
*.class

# NetBeans build output
build/
dist/

# NetBeans private files
/nbproject/private
/nbproject/genfiles.properties

# IntelliJ / IDE files
.idea/
*.iml

# Environment
.env

# Temp / swap files
*.temp
*.swp
